/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* ====================================
   Global Styles
   ==================================== */

/* Global heading style */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Specific styles for each level of heading */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Global body style */
body {
  font-family: Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

/* ====================================
   Styles for Specific Containers
   ==================================== */

/* list container object style  */
.list-container h2 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.list-container ul {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 10px;
}

.list-container li {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

/* ====================================
   Layout
   ==================================== */

/* Centered container */
.container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 40px;
  background: #d7dfd3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ====================================
   Components (Buttons, Forms, etc.)
   ==================================== */

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 20px;
  flex-wrap: nowrap;
}
.button {
  flex: 1;
  padding: 10px 0;
  font-size: 3vw;
  background-color: #5c7444;
  color: white;
  border: 40px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.button:hover {
  background: #94a58c;
  transform: scale(1.05); /* Slightly increase the size */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Smooth transition */
}

/* Button shadow for hover effect for each service */
.button.directus:hover {
  box-shadow: 0 6px 12px rgba(111, 78, 255, 0.4); /* violet */
}

.button.nextcloud:hover {
  box-shadow: 0 6px 12px rgba(13, 150, 225, 0.4); /* bleu */
}

.button.qfieldcloud:hover {
  box-shadow: 0 6px 12px rgba(75, 111, 173, 0.4); /* turquoise */
}

/* Icon Styling */
.button img,
.button i {
  width: 5vw;
  height: 5vw;
}
/*
.list {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background: #f9f9f9;
  text-align: left;
}

/* Progress bar */
.progress-container {
  width: 100%;
  height: 30px;
  background-color: #fff; /* white background */
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px; /* Espacement entre les projets */
}

.progress-bar {
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
}

/* Specific color for each status*/
.collected {
  background-color: #ff9900;
  height: 30px;
}

.extracted {
  background-color: #ffee00;
  height: 25px;
}

.profiled {
  background-color: #00e600;
  height: 20px;
}

/* small text */
.small-text {
  font-size: 15px;
  color: #888;
  margin-bottom: 15px;
}

/* legend */
.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-text {
  font-size: 14px;
}
/* Style for the plant name on the list */
.plant-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 5px 0;
}

/* details */
.list-container {
  font-size: 14px;
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  line-height: 1.7;
}

.list-container.open {
  display: block;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.details-button {
  padding: 10px;
  background-color: #5c7444;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.details-button:hover {
  background-color: #94a58c;
  transform: scale(1.05); /* Slightly increase the size */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Add a shadow */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Smooth transition */
}

/* Display lists */
.details {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.summary-main {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 5px 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
  color: #333333;
  font-size: 15px;
}

.summary-main:hover {
  background-color: #aabea1;
}

/* Styles for the second list when it is displayed (Locations) */
details[open] {
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

details[open] details summary {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

details[open] details summary:hover {
  background-color: #aabea1;
}

/* Fixed layout for "species to collect" table */
.fixed-layout-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Flexible layout for "unresolved species" table */
.flexible-layout-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  table-layout: auto;
}

.fixed-layout-table td,
.fixed-layout-table th,
.flexible-layout-table td,
.flexible-layout-table th {
  padding: 10px 15px;
  border: 1px solid #666;
}

.fixed-layout-table th,
.flexible-layout-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Add hover effect for rows */
.fixed-layout-table tr:hover,
.flexible-layout-table tr:hover {
  background-color: #dddcdc;
}

/* ====================================
   Responsive Design
   ==================================== */

/* Responsive Design */
@media (max-width: 1000px) {
  .button {
    width: 100%;
    justify-content: center;
  }
}
