/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 20px;
  flex-wrap: nowrap;
}

.button {
  flex: 1;
  padding: 10px 0;
  font-size: 3vw;
  background-color: #5c7444;
  color: white;
  border: 40px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.button:hover {
  background: #94a58c;
  transform: scale(1.05); /* Slightly increase the size */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Smooth transition */
}

/* Button shadow for hover effect for each service */
.button.directus:hover {
  box-shadow: 0 6px 12px rgba(111, 78, 255, 0.4); /* violet */
}

.button.nextcloud:hover {
  box-shadow: 0 6px 12px rgba(13, 150, 225, 0.4); /* bleu */
}

.button.qfieldcloud:hover {
  box-shadow: 0 6px 12px rgba(75, 111, 173, 0.4); /* turquoise */
}

/* Icon Styling */
.button img,
.button i {
  width: 5vw;
  height: 5vw;
}

/* Progress bar */
.progress-container {
  width: 100%;
  height: 30px;
  background-color: #fff; /* white background */
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px; /* Space between projects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
}

/* Specific color for each status*/
.collected {
  background-color: #ff9900;
  height: 30px;
}

.extracted {
  background-color: #ffee00;
  height: 25px;
}

.profiled {
  background-color: #00e600;
  height: 20px;
}

/* legend */
.legend {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-text {
  font-size: 14px;
}

.details-button {
  padding: 10px;
  background-color: #5c7444;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.details-button:hover {
  background-color: #94a58c;
  transform: scale(1.05); /* Slightly increase the size */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Add a shadow */
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; /* Smooth transition */
}
